<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lost River Ridge Labradors</title>
    <meta name="description"
        content="Lost River Ridge Labradors is a breeder of Chocolate Lab Puppies in Central Indiana">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Lost River Ridge Labradors">
    <meta property="og:description"
        content="Lost River Ridge Labradors is a breeder of Chocolate Lab Puppies in Central Indiana">
    <meta property="og:image" content="https://lostriverridgelabradors.com/puppies-header.jpg">
    <meta property="og:url" content="https://lostriverridgelabradors.com">
    <link rel="stylesheet" href="/styles.css">
</head>