<header class="always-sticky sticky">

    <div class="header-inner">
        <h1> <a href="https://lostriverridgelabradors.com">Lost River Ridge Labradors</a></h1>
        <h2> Indiana Chocolate Lab Breeder </h2>

        <button data-toggle=".contact-show" class="contact-button toggle"> Contact Us </button>
        <div class="contact-cover contact-show toggle hidden" data-toggle=".contact-show"></div>

        <div class="contact-ways contact-show hidden">
            <i class="fa-close fa fa-extra-large close-button toggle" data-toggle=".contact-show"></i>
            <h3></i> Contact Us </h3>

            <div class="contact-inner">
                <p class="not-contact"> Thank you for your interest in Lost River Ridge Labradors! </p>
                <!-- <p class="not-contact">We are currently taking applications for May 2020. </p> -->

                <p class="not-contact">Please select one of the following
                    options to contact us:</p>
                <ul class="not-contact">

                    <li>
                        <a href="https://m.me/lostriverridgelabradors" class="button button-alt not-contact">
                            <i class="fab fa-facebook-messenger"></i>
                            Facebook Messenger
                        </a>
                    </li>

                    <li>
                        <a href="mailto:lostriverridgelabradors@gmail.com?Subject=Interested in Puppies!"
                            class="button button-alt not-contact">
                            <i class="far fa-envelope"></i>
                            Email
                        </a>
                    </li>

                    <li>
                        <a href="#" class="toggle button button-alt" data-toggle=".contact-form, .not-contact"> <i
                                class="far fa-sticky-note"></i> Contact Form </a>
                    </li>
                </ul>

                <div class="cognito hidden contact-form">
                    <script src="https://services.cognitoforms.com/s/odhICsMEzUqS_DwN74Q9YA"></script>
                    <script>Cognito.load("forms", { id: "1" });</script>
                </div>

                <p class="hidden contact-form"> <a class="toggle link"
                        data-toggle=".contact-form, .not-contact">Back</a>
                </p>

                <p> <a class="toggle link" data-toggle=".contact-show">Close</a> </p>
            </div>

        </div>
    </div>
</header>