<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
{% include head.html %}

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    {% include header-home.html %}

    <main>
        {% for post in site.home_sections %}
            <article id="{{post.slug}}" >
                <h3> <i class="fas fa-paw"></i> {{post.title}}</h3>
                <section class="{{post.class}}">
                    {{post.content}}
                </section>
            </article>

            {{content}}
        {% endfor %}


        <section id="puppy-cam">
            <h3> <i class="fas fa-paw"></i> Puppy Cam </h3>
        
            <p>Enjoy a live feed of our newborn labs!</p>
            <h4>Benelli and Weed </h4>
            <iframe type="text/html" frameborder="0" src="//video.nest.com/embedded/live/KZNybTeBnx?autoplay=1"
                allowfullscreen></iframe>
            <h4>Mavey and Dre </h4>
        
            <iframe type="text/html" frameborder="0" src="//video.nest.com/embedded/live/xdPyPSY4Nk?autoplay=1"
                allowfullscreen></iframe>
        </section>
    </main>

    {% include footer.html %}

</body>

</html>